<header class="flat-ui-header" id = "header">
    <div class="header-container clearfix">
        <div class="header-main fl">
           <div class="menu-set">

           </div>
        </div>
        <div class="user-set fl">

        </div>
    </div>
</header>
<legend class="brand text-center" id = "brand">
    答也
</legend>