extends layout

block content
    div.leftbar.fx
        div.left-logo.text-center 答也
        ul.left-content.text-center
            li 首页
            li 话题
            li 消息
            li 活动
    div.main.rl
        div.main-header.fx
            div.main-header-container
                form.searchForm.rl.fl
                    input(type="text",name="search",placeholder="搜索问题，用户，答案······").searchBar
                    img(src="/images/search.png").searchBtn
                button.btn.btn-primary#askBtn 提问
            div
                h1
                    a(href="/reg") register
                h1
                    a(href="/login") login

    div.rightbar.fx
