<% include header.ejs %>

<div class="container row mt60" ng-controller="content-box">
    <div class="col-lg-8 col-md-8 col-sm-12">

        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-info active" ng-click="changeState('person')"><span class="fui-user"></span><span>我关注的人的动态</span></a>
                <a class="btn btn-inverse" ng-click="changeState('topic')"><span class="fui-chat"></span><span>我关注的话题</span></a>
                <a class="btn btn-primary" ng-click="changeState('collection')"><span class="fui-heart"></span><span>我的收藏夹</span></a>
                <a class="btn btn-warning" ng-click="changeState('hot')"><span class="fui-eye"></span><span>探索和发现</span></a>
            </div>
        </div> <!-- /toolbar -->

        <div class="col-md-12 mtm q-content" >
            <button class="btn btn-primary btn-sm" ng-repeat = "record in topics" ng-click="setData(record.title)">
                {{record.title}}
            </button>
            <ul class="q-content-lists">

                <li class="pbm q-content-list" ng-repeat="record in records">
                    <a href="/question/{{record._id}}">
                        <h5>{{record.title}}<small class="mlm"><a href="/user/{{record.user}}">{{record.user}}</a></small></h5>
                    </a>
                    <p>{{ record.content }}</p>
                    <small class="subtitle">{{record.answer.length}}条评论</small>
                    <a href="#collect" qid="{{record._id}}" class="collect"><small class="pll subtitle">收藏</small></a>
                </li>

            </ul>  
        </div>
    </div>
    <div class="col-lg-4 col-md-14">
        <div class="col-sm-12 mt50">
            <img src="/images/x04.jpg" class="img-rounded img-responsive"/>
        </div>
    </div>
</div>

<% include footer.ejs %>
<script>
    seajs.use('index',function(index){
        index.init();
        //index._angularRender();
    });
</script>
<script src="/javascripts/angular_modules/index.js"></script>