<div class = "leftbar fx">
    <div class = "left-logo text-center">答也</div>
    <ul class = "left-content text-center">
        <li>首页</li>
        <li>话题</li>
        <li>消息</li>
        <li>活动</li>
    </ul>
</div>
<div class = "main rl">
    <div class = "main-header fx">
        <div class = "main-header-container">
            <form class = "searchForm rl fl">
                <input type="text" name="search" placeholder="搜索问题，用户，答案······" class = "searchBar" />
                <img src="/images/search.png" class = "searchBtn" />
            </form>
            <button class = "btn btn-primary" id = "askBtn">提问</button>
        </div>
        <div>
            <h1><a href="/reg">register</a></h1>
            <h1><a href="/login">login</a></h1>
        </div>
        <ul>
            <% for(var i=0; i<list.length; i++) {%>
            <li style="background-color: pink;">
                <a href="/question/<%= list[i]._id %>">
                    <h1><%= list[i].title %></h1>
                </a>
                <%= list[i].content %>
            </li>
            <% } %> 
        </ul>  
    </div>
</div>
<div class = "rightbar fx"></div>
<div class = "askBoxCover"></div>
<div class = "askBox">
    <form method="post">
        <input type="text" name="title" class="askBoxText" placeholder="标题" />
        <textarea name="content" class="askBoxTextarea" placeholder="内容"></textarea>
        <input type="button" value="取消" id="askBoxCancel" />
        <input type="button" value="提交" id="askBoxSubmit" />
    </form>
</div>
<script>
    $(function(){
        $("#askBtn").on("click", function(){
            <% if(curUser){ %>
                $(".askBoxCover").show();
                $(".askBox").show();
            <% }else{ %>
                alert("Please login first!");
            <% } %>
        });
        $("#askBoxCancel").on("click", function(){
            $(".askBoxCover").hide();
            $(".askBox").hide();
        });
        $("#askBoxSubmit").on("click", function(){
            $.post("ask", {
                title: $(".askBoxText").val(),
                content: $(".askBoxTextarea").val()
            }, function(data){
                if(data.status === "ok"){
                    window.location.reload();
                    //console.log(data);
                }
            });
        });
    });
</script>
