<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/daye_style.css' />
    	<link rel='stylesheet' href='/stylesheets/common.css' />
    	<link rel='stylesheet' href='/stylesheets/page.css' />
        <link rel="stylesheet" href="/stylesheets/jquery.modal.css" />
<!--     	<link rel='stylesheet' href='/stylesheets/base.css' /> -->
  		<script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.modal.min.js"></script>
    </head>
  	<body>
  		<%- body %>
  	</body>
 </html>