<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
        <link rel="stylesheet" href="/stylesheets/flat-ui.css"/>
        <link rel="stylesheet" href="/stylesheets/page.css"/>
  		<script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    </head>
  	<body>
  		<%- body %>
  	</body>
 </html>