//
   Created by jonbug on 13-12-8.

extends layout

block content
    h1 To join us
    form(method='post')
        input(type='text',name='name')
        input(type='password',name='password')
        input(type='submit',value='ok')