<% include header.ejs %>
<div class="row main-logo">
    <div class="col-md-12 col-sm-12">
        <h2 class="text-center mt80">校园问答</h2>
        <h3 class="text-center mt10">没有坏问题，只有好答案</h3>
    </div>
</div>
<div class="row start-log">
    <div class="col-md-offset-2 col-md-8">
        <div class="col-md-6 col-sm-6 text-center ptm">
            <button class="btn btn-hg btn-info btn-block">
                <span>注册</span>
            </button>
        </div>
        <div class="col-md-6 col-sm-6 text-center ptm">
            <button class="btn btn-hg btn-info btn-block" id="login-btn">
               <span> 登录</span>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="start-hot">
            <div class="high-strong">热门问题</div>
            <div>
                <ul>
                    <li>为什么 Android 的返回键被批评为永远不知道返回到哪里？</li>
                    <li>为什么 Android 的返回键被批评为永远不知道返回到哪里？</li>
                    <li>为什么 Android 的返回键被批评为永远不知道返回到哪里？</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login-modal">
    <div class="modal-dialog modal-mid">
        <div class="login-form">
            <div class="form-group" id="name-state">
                <input type="text" class="form-control login-field" value="" placeholder="输入用户名" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group" id="pass-state">
                <input type="password" class="form-control login-field" value="" placeholder="输入密码" id="login-pass">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <a class="btn btn-primary btn-lg btn-block" id="login">登录</a>
            <a class="login-link" href="#">忘记密码？</a>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% include footer.ejs %>
<script>
    seajs.use('start',function(start){
        start.init();
    })
</script>