html, body, ul, li {
  padding: 0;
  margin: 0; }

* {
  line-height: 1.42857; }

body {
  font-size: 14px;
  font-family: "Microsoft Yahei"; }

.header {
  width: 100%;
  padding: 10px 16%;
  box-sizing: border-box; }

/*Tools*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.text-center {
  text-align: center; }

.fx {
  position: fixed; }

.ab {
  position: absolute; }

.rl {
  position: relative; }

.fl {
  float: left; }

.fr {
  float: right; }

.btn {
  display: inline-block; }

.btn-primary {
  border: 2px solid #16c085;
  border-radius: 5px;
  padding: 4px 15px;
  background-color: #16a085;
  color: #f1f1f1; }

.leftbar {
  width: 5%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px #aaa;
  z-index: 1000; }

.left-logo {
  margin-top: 10px;
  height: 100px;
  width: 100%;
  font-size: 2em;
  color: #16a085;
  font-weight: 50; }

.left-content {
  margin-top: 50px;
  list-style: none; }

.left-content li {
  width: 100%;
  padding: 30px 0;
  color: #888;
  cursor: pointer; }
  .left-content li:hover {
    background-color: #16a085;
    color: #f1f1f1; }

.main {
  width: 50%;
  background-color: #fff;
  margin-left: 5%;
  height: 1000px; }

.main-header {
  width: 50%;
  background-color: transparent;
  top: 0;
  left: 5%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 10px #999;
  z-index: 100; }

.main-header-container {
  width: 90%;
  margin: 8px 30px; }

.searchForm {
  width: 350px;
  height: 30px; }

.searchBar {
  width: 350px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #16a085;
  border-radius: 5px; }

.searchBtn {
  width: 30px;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 0; }

#askBtn {
  margin-left: 30px; }

.rightbar {
  width: 45%;
  height: 100%;
  top: 0;
  left: 55%;
  background-color: #16a085;
  z-index: 1000;
  box-shadow: 0 0 10px #aaa; }
