/*extend flat ui kit class*/
.mt5{margin-top: 5px;}
.mt50{margin-top: 50px;}
.mt80{margin-top: 80px;}
.mt60{margin-top: 60px;}


.main-logo{
    margin-top: 53px;
    min-height: 400px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../images/sunset.jpg');
}

.reg{
    margin-top: 53px;
}

.reg-form{
    background-color: #edeff1;
    border-radius: 6px;
    border: 1px solid #eeeeee;
    box-shadow: 0 0 6px #aaa;
}
.reg-header{
    border-bottom: 1px solid #aaa;
    padding: 2px 15px;
}
.reg-body{padding: 20px 30px 10px;}
.start-log{
    padding-top: 50px;
}

.start-hot{
    margin-top: 50px;
    box-shadow: 0 0 7px #aaa;
}
.text-center{
    text-align: center;
}

.white-f{
    color: #ffffff
}
.sm-f{
    font-size: 0.8em;
}
.high-strong{
    background-color: #e0e0e0;
    border-bottom: 1px solid #808080;
}

.modal-mid{
    margin-top: 180px;

}

.q-content{
    border-top: 1px solid #e0e0e0;
}

.img-user{
    width: 48px;
}
.question{
    border-bottom: 1px solid #f0f0f0;
}


.modal-content{
    background-color: #edeff1;
}